<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807590890983-9d1mj4n0p460lsctq7b7p2hn25aokp2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807590890983-9d1mj4n0p460lsctq7b7p2hn25aokp2d</string>
	<key>API_KEY</key>
	<string>AIzaSyAMgc2n9WRfdJCb-z3uZWUgG4I9xyBeLb0</string>
	<key>GCM_SENDER_ID</key>
	<string>807590890983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hesam.Javan-Records</string>
	<key>PROJECT_ID</key>
	<string>javan-b82d7</string>
	<key>STORAGE_BUCKET</key>
	<string>javan-b82d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807590890983:ios:f8e333eaac7f467a438142</string>
	<key>DATABASE_URL</key>
	<string>https://javan-b82d7.firebaseio.com</string>
</dict>
</plist>